---
const { content } = Astro.props;
---

<div class="relative">
    <div>
        <h1>{content.title}</h1>
        <h2>{content.description}</h2>
    </div>
    <div class="flex justify-between w-50">
        <div>
            <h4>{content.author}</h4>
            <h4>{content.date}</h4>
        </div>
        <div class="flex justify-between">{ content.tags?.map((tag) => {
            return <code class="tag">{tag}</code>
            }) }
        </div>

    </div>
</div>

<style>
    .justify-between {
        @apply justify-between;
    }

    .tag {
        @apply mr-2;
    }
</style>